<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7fyOyLDoIKF2uMzfK_TNmrdKZiLTMaOw</string>
	<key>GCM_SENDER_ID</key>
	<string>391257333858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-5ae78</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-5ae78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391257333858:ios:7db3b53d3e84adc4d9b13b</string>
</dict>
</plist>